*{
padding: 0px;
margin: auto;
}

body {
  margin:1.6em 120px;
  background: -webkit-linear-gradient(bottom right, #031926, #468189, #77ACA2, #9DBEBB, #F4E9CD);
}

/*Codigo del logo*/
#icono {
  margin-left: 43%;
  margin-top: 20px;
}

#logo {
  width: 225px;
  height: 225px;
  animation: logo 2s linear 2s infinite alternate;
}

@keyframes logo {
    0%{transform:translate(0)}
    100%{transform:translateY(-15px)}
}
/*principio del menu*/
#menu {
	width: 766px;
	height: 50px;
  margin-top: 10px;
	background-color: #34495e;
	border-radius: 8px;
  position: relative;
}

nav li  {
 display: inline-block;
}

#menu a {
	line-height: 50px;
  width: 150px;
  height: 100%;
	font-size: 15px;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
}

#uno {
  transition: background-color .7s;
}

#dos {
  transition: background-color .7s;
}

#tres {
  transition: background-color .7s;
}

#cuatro {


  transition: background-color .7s;
}

#cinco {
  transition: background-color .7s;
}

#uno:hover {
  background-color: #1C110A;
  border-radius: 8px;
  transition: background-color .7s;
}

#dos:hover {
 background-color: #E4D6A7;
 border-radius: 8px;
 transition: background-color .7s;
}

#tres:hover {
 background-color: #E9B44C;
 border-radius: 8px;
 transition: background-color .7s;
}

#cuatro:hover {
 background-color: #9B2915;
 border-radius: 8px;
 transition: background-color .7s;
}

#cinco:hover {
 background-color: #50A2A7;
 border-radius: 8px;
 transition: background-color .7s;
}
/*final del menu*/

/*redes social*/
#redes {
  float: right;
  position: relative;
  bottom: 310px;
}


#iconos {
  list-style-type: none;
  display: inline-block;
}

#iconos li {
  float: right;
  margin-right: 10px;
}

#iconos li img {
  width: 50px;
  height: 50px;
}
